
<div class="container-fluid">
            
    <div class="d-flex justify-content-center">
        <img class="mt-5" src="https://cdn-icons-png.flaticon.com/512/1181/1181538.png?w=360" alt="" height="100px" width="100px">
    </div>
    
    <div class="d-flex justify-content-around mt-5">
        <div>
            <img class="rounded-circle" src="https://img.freepik.com/premium-vector/pro-gamer-avatar-logo_71220-49.jpg?w=2000" alt="" height="150px" width="150px">
        </div>
        
        <div class="d-flex flex-column align-self-center">
            <h3 class="m-0">TIC</h3>
            <h3 class="m-0">TAC</h3>
            <h3 class="m-0">TOE</h3>
        </div>
        
        <div>
            <img class="rounded-circle" src="https://img.freepik.com/premium-vector/gamer-mascot-geek-boy-esports-logo-avatar-with-headphones-glasses-cartoon-character_8169-228.jpg" alt="" height="150px" width="150px">
        </div>
    </div>

    <div class="text-center mt-5">
        <div><button class="btn btn-primary rounded-pill" routerLink="/GamePage">Multi-Player</button></div>
        <div class="m-2"><button class="btn btn-primary rounded-pill">Single-Player</button></div>
    </div>
   
</div>
