<div class="container-fluid h-100 pb-5 gamePageBackground">
    <!-- score Board -->
    
    <div class="d-flex pt-3">
        <div class="col-sm-5"></div>
        <div class="text-center pb-2 col-sm-2" style="color:whitesmoke;border: 2px solid; ">
            <p class="m-1" >Score Board</p>
            <div class="">
                <span class="mx-4">Player1</span><span class="mx-4">Player2</span>
            <div class="mt-2">
                <span class="mx-3 py-2 px-4 rounded scoreboard">
                    {{totalxscore}}
                </span>
                <span class="mx-3 py-2 px-4 rounded scoreboard">
                    {{totaloscore}}
                </span>
            </div>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    

   <app-game-board (scores)="addScores($event);"></app-game-board>


</div>
