.scoreboard{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIFSzWnEkxWmJ7hfR6HR8TlSyipXRD4-QnaA&usqp=CAU');
    color:whitesmoke
}

.gamePageBackground{
    background-color: rgba(35, 4, 103, 0.986);   
}